@page 
@model RBN_FE.Pages.EventPages.UpdateEventModel
<partial name="_Header" />

<h2>Update Event</h2>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" class="form-control" />
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.EventType"></label>
        <input asp-for="Input.EventType" class="form-control" />
        <span asp-validation-for="Input.EventType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Description"></label>
        <textarea asp-for="Input.Description" class="form-control"></textarea>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Price"></label>
        <input asp-for="Input.Price" class="form-control" />
        <span asp-validation-for="Input.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.MinCapacity"></label>
        <input asp-for="Input.MinCapacity" class="form-control" />
        <span asp-validation-for="Input.MinCapacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.MinCapacity"></label>
        <input asp-for="Input.MinCapacity" class="form-control" />
        <span asp-validation-for="Input.MinCapacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.MaxCapacity"></label>
        <input asp-for="Input.MaxCapacity" class="form-control" />
        <span asp-validation-for="Input.MaxCapacity" class="text-danger"></span>
    </div>
    <input type="hidden" name="Input.CreateBy" value="@HttpContext.Session.GetString("UserName")" />
    <input type="hidden" name="Input.CreateAt" value="@DateTime.UtcNow.ToString("dd/MM/yyyy")" />
    <input type="hidden" name="Input.UpdateBy" value="@HttpContext.Session.GetString("UserName")" />
    <input type="hidden" name="Input.UpdateAt" value="@DateTime.UtcNow.ToString("dd/MM/yyyy")" />
    <div class="form-group">
        <label asp-for="Input.Status"></label>
        <select asp-for="Input.Status" class="form-control">
            <option value="1">Hoạt động</option>
            <option value="2">Không hoạt động</option>
        </select>
        <span asp-validation-for="Input.Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventImage"></label>
        <input asp-for="EventImage" type="file" class="form-control" data-val="false" />
        <span asp-validation-for="EventImage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Event</button>
</form>
<a asp-page="/EventPages/EventIndex" class="btn btn-primary mt-3">Back to Events</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<partial name="_Footer" />

