@page "/Login"
@model RBN_FE.Pages.LogIn_Out.LoginModel


<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-gray-100">
    <partial name="_Header" />

    <div class="py-16">
        <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
            <div class="hidden lg:block lg:w-1/2 bg-cover"
                 style="background-image:url('https://haithuycatering.com/image/5c3421e551046d7e6c6b9eea/original.jpg')">
            </div>
            <div class="w-full p-8 lg:w-1/2">
                <div class="flex justify-center">
                    <img src="/img/Logo.png" class="w-32" alt="Logo" />
                </div>
                <div class="mt-4 flex items-center justify-between">
                    <span class="border-b w-1/5 lg:w-1/4"></span>
                    <a href="/Signup" class="text-xs text-center text-gray-500 uppercase">chưa có tài khoản? Đăng Ký</a>
                    <span class="border-b w-1/5 lg:w-1/4"></span>
                </div>
                <div class="mt-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email" />
                </div>
                <div class="mt-4">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Mật khẩu</label>
                        <a href="#" class="text-xs text-gray-500">Quên mật khẩu?</a>
                    </div>
                    <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password" />
                </div>
                <div class="mt-8">
                    <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Footer" />
</body>
</html>
