@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<header class="bg-white shadow-md w-full sticky top-0 z-50">
    <nav class="w-full px-4 py-3 flex justify-between items-center">
        <!-- logo -->
        <a href="/" class="flex items-center">
            <img src="/img/Logo.png" alt="RBN Logo" class="h-20 w-auto mr-3">
            <span class="text-xl font-light text-gray-800">RBN Event</span>
        </a>
        <!-- search and nav -->
        <div class="flex-grow flex justify-center items-center space-x-4">
            <!-- search -->
            <div class='w-64 bg-white rounded-lg shadow-md'>
                <div class="flex items-center px-3.5 py-2 text-gray-400 group hover:ring-1 hover:ring-gray-300 focus-within:!ring-2 ring-inset focus-within:!ring-teal-500 rounded-md">
                    <svg class="mr-2 h-5 w-5 stroke-slate-400" fill="none" viewBox="0 0 24 24" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                    <input class="block w-full appearance-none bg-transparent text-base text-gray-700 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6"
                           placeholder="Find anything..."
                           aria-label="Search components"
                           id="headlessui-combobox-input-:r5n:"
                           role="combobox"
                           type="text"
                           aria-expanded="false"
                           aria-autocomplete="list"
                           value=""
                           style="caret-color: rgb(107, 114, 128)" />
                </div>
            </div>
            <!-- nav -->
            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-gray-800 hover:text-gray-600">Trang chủ</a>
                <a href="#" class="text-gray-800 hover:text-gray-600">Về chúng tôi</a>
                <a href="/CompanyIndex" class="text-gray-800 hover:text-gray-600">Công ty</a>
                <a href="#" class="text-gray-800 hover:text-gray-600">Sự Kiện</a>
                <a href="#" class="text-gray-800 hover:text-gray-600">Liên Hệ</a>
            </div>
        </div>
        <!-- sign in/out -->
        <div class="hidden md:flex space-x-4 items-center">
            @if (Context.Session.GetString("JWTToken") != null)
            {
                <span class="text-gray-800">Xin chào, @Context.Session.GetString("UserName")!</span>
                <form method="post" asp-page="/LogIn&Out/Logout">
                    <button type="submit" class="text-gray-800 hover:text-gray-600">Đăng xuất</button>
                </form>
            }
            else
            {
                <a href="/Signup" class="text-gray-800 hover:text-gray-600">Đăng ký</a>
                <a href="/Login" class="text-gray-800 hover:text-gray-600">Đăng nhập</a>
            }
        </div>
    </nav>
</header>