@page "/Aboutus"
@model RBN_FE.Pages.Shared.AboutModel
@{
}

<partial name="_Header" />

<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
   <div class="grid gap-10 lg:grid-cols-2 lg:gap-12">
            <img src="https://theperfectevent.com/wp-content/uploads/2020/01/Main-Scroll-2.jpg" alt="" class="inline-block h-full w-full rounded-2xl object-cover" />
            <div class="flex flex-col gap-5 rounded-2xl border border-solid border-black p-10 sm:p-20">
                <h2 class="text-3xl font-bold md:text-5xl">Sứ mệnh của chúng tôi
</h2>
                <p class="text-sm text-gray-500 sm:text-base">
                    Tại EBN Event, chúng tôi tin rằng mọi sự kiện đều xứng đáng được tổ chức một cách hoàn hảo. Sứ mệnh của chúng tôi là đơn giản hóa quá trình lên kế hoạch và đặt dịch vụ tổ chức sự kiện, giúp bạn tiết kiệm thời gian và công sức. Chúng tôi kết nối bạn với những nhà cung cấp dịch vụ chất lượng cao, từ nhà hàng tiệc cưới sang trọng đến các công ty tổ chức sự kiện chuyên nghiệp.
                    Bằng cách cung cấp một nền tảng trực tuyến toàn diện, chúng tôi cho phép bạn dễ dàng so sánh, lựa chọn và đặt dịch vụ phù hợp nhất với nhu cầu và ngân sách của mình. Chúng tôi cam kết mang đến sự minh bạch trong thông tin, đảm bảo mọi chi tiết về giá cả, dịch vụ và đánh giá đều rõ ràng và dễ tiếp cận.                    <br />
                    <br /> RBN Event không chỉ là một công cụ đặt dịch vụ; chúng tôi là đồng hành đáng tin cậy trong hành trình tạo nên những kỷ niệm đáng nhớ của bạn. Hãy để chúng tôi biến ước mơ về sự kiện hoàn hảo của bạn thành hiện thực.
                </p>
            </div>
        </div>
    </div>
</section>

<partial name="_Footer" />