@page
@model RBN_FE.Pages.HomeEvent.BookingCancelModel
@{
}
<partial name="_Header" />







<!-- component -->
<div class="bg-gray-100 mt-32">
    <div class="bg-white p-6 md:mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-16 h-16 mx-auto">
            <path fill="#FF0000" d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm4.95,15.536a1,1,0,0,1-1.414,1.414L12,13.414,8.464,16.95a1,1,0,0,1-1.414-1.414L10.586,12,7.05,8.464A1,1,0,0,1,8.464,7.05L12,10.586l3.536-3.536a1,1,0,1,1,1.414,1.414L13.414,12Z" />
        </svg>
        <div class="text-center">
            <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Thanh toán thất bại!</h3>
            <p class="text-gray-600 my-2">Hãy kiểm tra lại thanh toán, cảm ơn bạn</p>
            <div class="py-10 text-center">
                <a href="/Index" class="px-12 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-3">
                    Trở về trang chủ
                </a>
            </div>
        </div>
    </div>
</div>



<partial name="_Footer" />