@page
@model RBN_FE.Pages.HomeEvent.BookingSuccessModel
@{
}
<h1>Booking Successful</h1>
<p>Thank you for your booking! You will receive a confirmation email shortly.</p>
<a asp-page="/HomeEvent/Index">Return to Home</a>